* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/***** Reset + Configs *****/

:root {
    --color1-dark-green: #00343c;
    --color2-light-green: #428e8d;
    --color3-cyan: #00fefb;
    --white-default: #fff;
}

ul,
li,
a,
ol {
    list-style: none;
    text-decoration: none;
    color: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
}

/***** Foooter *****/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
    width: 100vw;
    height: 10vh;
    background-color: var(--color2-light-green);
}

.contt-email {
    display: flex;
    gap: 8px;
}

.contt-email p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white-default);
}

.copyright {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--white-default);
}

.social-media {
    display: flex;
    gap: 2rem;
}

.icon-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: 0.5s ease;
    background-color: var(--white-default);
    color: var(--color2-light-green);
}

.icon-media:hover {
    background-color: var(--color1-dark-green);
    color: var(--white-default);
}
